<% include ./partials/header2 %>
<style>
    .tag{
        text-decoration: underline;
        font-size: 20px;
        margin-bottom: 8px;
        color: #fa8231;
    }
    @media screen and (max-width: 500px) {
      .profile .phone-number{
        width: 85%!important;
      }
    }
  </style>
<div class="container profile">
    <!-- <% if(user.phone == null){ %>
    <p style="font-size: 16px; margin-top: 11px; color: red; text-decoration: underline;">Please enter the phone number!</p>
    <% } %> -->
    <h2>Profile</h2>
    <% if(user.profile){ %>
        <img src="<%= user.profile%>" alt="">
    <% }else{ %>
        <img src="images/user.png" alt="">
    <% } %>
    <div class="row">
        <div class="col-sm-4 col-12 tag">Name: </div>
        <div class="col-sm-8 col-12"><%= user.username %></div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-12 tag">Email Id: </div>
        <div class="col-sm-8 col-12"><%= user.email %></div>
    </div>
    
    <form method="POST" action="/profile/<%= user._id %>?_method=PUT">
        <div class="row">
            <div class="col-sm-4 col-12 tag">Branch: </div>
            <% if(user.branch != null && user.branch != ""){ %>
            <div class="col-sm-8 col-12"><%= user.branch %></div>
            <% }else{ %>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control phone-number" name="user[branch]" value="<%= user.branch %>" >
            </div>
            <% } %>
        </div>
        <div class="row">
            <div class="col-sm-4 col-12 tag">College: </div>
            <% if(user.college != null && user.college != ""){ %>
            <div class="col-sm-8 col-12"><%= user.college %></div>
            <% }else{ %>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control phone-number" name="user[college]" value="<%= user.college %>" >
            </div>
            <% } %>
        </div>
        <div class="row">
            <div class="col-sm-4 col-12  tag">City: </div>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control phone-number" name="user[city]" value="<%= user.city %>" >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-12 tag">Phone: </div>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control phone-number" name="user[phone]" value="<%= user.phone %>" >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-12 tag">Year: </div>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control phone-number" name="user[year]" value="<%= user.year %>" >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-12 tag">Resume Link(Google Drive): </div>
            <div class="col-sm-8 col-12">
                <input type="text" class="form-control phone-number" name="user[resume_link]" value="<%= user.resume_link %>" >
            </div>
        </div>

        <button type="submit" class="btn btn-outline-dark">Update</button>
    </form>
</div>
<div class="container applied-intern">
    <h5>Applied Internships:</h5>
    <div class="row header">
        <div class="col-sm-3 col-12">Company</div>
        <div class="col-sm-3 col-12">Profile</div>
        <div class="col-sm-3 col-12"> Stipend</div>
        <div class="col-sm-3 col-12"> Application</div>
    </div>
    <% job_selected.forEach(function(internship){ %>
    <div class="row job-applied">
        <div class="col-sm-3 col-12"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> <a href="/internships/<%= internship.company_id %>"> <%= internship.company_name %></a></div>
        <div class="col-sm-3 col-12"><%= internship.company_profile %></div>
        <div class="col-sm-3 col-12"><%= internship.stipend %></div>
        <div class="col-sm-3 col-12"> <a href="/internships/<%= internship.company_id %>/assessment-test">Review Application</a> </div>
    </div>
    <% }); %>
</div>

<script>
    $('.navbar-nav li').removeClass('active');
    $('.prof').addClass('active');
</script>

<% include ./partials/footer2 %>