<% include ./partials/header2 %>

<div class="container profile">
    <% if(user.phone == null){ %>
    <p style="font-size: 16px; margin-top: 11px; color: red; text-decoration: underline;">Please enter the phone number!</p>
    <% } %>
    <h2>Profile</h2>
    <img src="<%= user.profile%>" alt="">
    <div class="row">
        <div class="col-sm-3 col-12">Name: </div>
        <div class="col-sm-9 col-12"><%= user.name %></div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-12">Email Id: </div>
        <div class="col-sm-9 col-12"><%= user.emailid %></div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-12">Branch: </div>
        <div class="col-sm-9 col-12"><%= user.branch %></div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-12">Phone: </div>
        <div class="col-sm-9 col-12">
            <form method="POST" action="/profile/<%= user._id %>?_method=PUT">
                <input type="text" class="form-control phone-number" name="user[phone]" value="<%= user.phone %>" >
                <button type="submit" class="btn btn-outline-dark">Update</button>
            </form>
            
        </div>
    </div>
</div>
<div class="container applied-intern">
    <h5>Applied Internships:</h5>
    <div class="row header">
        <div class="col-sm-3 col-12">Company</div>
        <div class="col-sm-3 col-12">Profile</div>
        <div class="col-sm-3 col-12"> Stipend</div>
        <div class="col-sm-3 col-12"> Application</div>
    </div>
    <% job_selected.forEach(function(internship){ %>
    <div class="row job-applied">
        <div class="col-sm-3 col-12"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> <a href="/internships/<%= internship._id %>"> <%= internship.company_name %></a></div>
        <div class="col-sm-3 col-12"><%= internship.company_profile %></div>
        <div class="col-sm-3 col-12">₹ <%= internship.stipend %>/-</div>
        <div class="col-sm-3 col-12"> <a href="/internships/<%= internship._id %>/assessment-test">Review Application</a> </div>
    </div>
    <% }); %>
</div>

<% if(currentUser && currentUser.emailid == adminEmail){ %>
<a class="btn btn-outline-dark" href="/list-jobs" style="text-align: center; margin-top: 20px">All Applied Jobs</a>
<% } %>

<script>
    $('.navbar-nav li').removeClass('active');
    $('.prof').addClass('active');
</script>

<% include ./partials/footer2 %>