<% include ../partials/header2 %>

<div class="container-fluid post-job">
    <h5>Edit <%= internship.company_name%>Internship</h5>
    <form class="needs-validation post-job-form" method="POST" action="/internships/<%= internship._id %>?_method=PUT" novalidate>
        <div class="form-group">
            <label for="company-name">Enter Company Name</label>
            <input class="form-control" type="text"name="internship[company_name]" value="<%= internship.company_name %>" id="company-name" placeholder="Ex. Microsoft" required>
            <div class="invalid-feedback">
                Please provide a company name.
            </div>
        </div>
        <div class="form-group">
            <label for="intern-profile">Enter Profile Name</label>
            <input class="form-control" type="text" name="internship[company_profile]" value="<%= internship.company_profile %>" id="intern-profile" placeholder="Ex. UI/UX Developer" required>
            <div class="invalid-feedback">
                Please provide a profile name.
            </div>
        </div>
        <div class="form-group">
            <label for="stipend">Enter Stipend</label>
            <input class="form-control" type="text" name="internship[stipend]" value="<%= internship.stipend %>" id="stipend" placeholder="Ex. 5000" required>
            <div class="invalid-feedback">
                Please a stipend amount.
            </div>
        </div>
        <div class="form-group">
            <label for="location">Enter Location</label>
            <input class="form-control" type="text" name="internship[location]" value="<%= internship.location %>" id="location" placeholder="Ex. Work From Home" required>
            <div class="invalid-feedback">
                Please provide a location for intern.
            </div>
        </div>
        <div class="form-group">
            <label for="duration">Enter Duration</label>
            <input class="form-control" type="text" name="internship[duration]" value="<%= internship.duration %>" id="duration" placeholder="3 Months" required>
            <div class="invalid-feedback">
                Please provide a duration of internship.
            </div>
        </div>
        <div class="form-group">
            <label for="perks">Perks given by company</label>
            <input class="form-control" type="text" name="internship[perks]" value="<%= internship.perks %>" id="perks" placeholder="Ex. Certificate, Letter of recommendation, Flexible work hours." required>
            <div class="invalid-feedback">
                Please provide perks given by company.
            </div>
        </div>
        <div class="form-group">
            <label for="role-requirement">Requirement for company</label>
            <input class="form-control" type="text" name="internship[requirement]" value="<%= internship.requirement %>" id="role-requirement" placeholder="Ex. Angular, Nodejs, Cloud Computing" required>
            <div class="invalid-feedback">
                Please provide the requirements for the company.
            </div>
        </div>
        <div class="form-group">
            <label for="company-detail">Company Details</label>
            <textarea class="form-control" id="company-detail" name="internship[company_details]" rows="50" required><%= viewHelper.replaceNewline(internship.company_details) %></textarea>
            <div class="invalid-feedback">
                Please provide a description of the company.
            </div>
        </div>
        <div class="form-group" id="content">
            <label for="reponsibility">Intern Role and Responsibilty</label>
            <input class="form-control" type="text" id="reponsibility" name="internship[role]" value="<%= internship.role %>" placeholder="Ex.  Submit the task on EOD; Work on the given task on web development "  required>
            <div class="invalid-feedback">
                Please provide at least one role of the intern.
            </div>
        </div>
        <div class="form-group">
            <label for="reponsibility">Email Id</label>
            <input class="form-control" type="text" id="reponsibility" name="internship[email]" value="<%= internship.email%>" placeholder="example@gmail.com">
        </div>
        <hr>
        <button class="btn btn-light post-job-submit" type="submit">Update form</button>
    </form>
</div>

<script>
    exports.replaceNewline = function(input) {
        var newline = String.fromCharCode(13, 10);
        return input.replaceAll('\\n', newline);
    }
</script>
<% include ../partials/footer2 %>