
<% include ../partials/header2 %>
<style>
    #test{
      white-space: pre-wrap;
    }
  </style>
  <style>
    @media screen and (max-width: 500px) {
      .internship-detail{
        width: 95%!important;
      }
    }
  </style>
<div class="container-fluid internship-detail">
    <h2>Internship Details</h2>
    <% if(applied){ %>
    <span style="background: #fa8231;color: white;padding: 10px 20px;float: right;">Applied</span>
    <% } %>
    <h5 style="margin-top: 60px;">About <%= internship.company_name %> :</h5>
    <p  id="test"><%= internship.company_details %></p>
    <div class="row">
        <div class="col-sm-6 col-12">
            <h5>Internship Profile :</h5>
             <p><%= internship.company_profile %></p>
        </div>
        <div class="col-sm-6 col-12">
            <h5>Location :</h5>
            <p><%= internship.location %></p>
        </div>
    </div>

    <h5>Your Role And Responsibility :</h5>
    <p>Your responsibility for the intern will be:</p>
    <ol>
        <% internship.role.forEach(function(role){ %> <li > <%= role %></li> <% }); %>
    </ol>

    <h5>Area of Expertise :</h5>
    <p><%= internship.requirement %></p>

    <div class="row">
        <div class="col-sm-3 col-12">
            <h5>Job Posted On :</h5>
             <p><%= internship.job_posted.toDateString() %> </p>
        </div>
        <div class="col-sm-3 col-12">
            <h5>Stipend :</h5>
            <p><%= internship.stipend %></p>
        </div>
        <div class="col-sm-3 col-12">
            <h5>Duration of Internship :</h5>
            <p><%= internship.duration %></p>
        </div>
    </div>
    <h5>Perks :</h5>
    <p><%= internship.perks %></p>
    <% if(!applied){ %>
    <a href="/internships/<%= internship._id %>/assessment-test" class="btn btn-outline-info">Click to Apply</a>
    <% } else { %>
    <a href="/internships/<%= internship._id %>/assessment-test" class="btn btn-outline-info">Review Application</a>
    <% } %>

    <% if(currentUser && currentUser.email == adminEmail){ %>
    <div class="admin-button">
        <a href="/internships/<%= internship._id %>/edit" class="btn btn-outline-info">Edit Job</a>
        <form class="deleteForm" action="/internships/<%= internship._id %>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-outline-danger">Delete</button>
        </form>
    </div>
    <% } %>
</div>


<% include ../partials/footer2 %>